.btn {
  // configuration for buttons
  --btn-primary-bg-color: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  --btn-color: #fff;
  --btn-glowing: 0 0 8px 0 var(--primary-color),
    0 0 12px 0 var(--secondary-color);

  // default button parameters
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  text-transform: uppercase;

  // primary button
  &.btn--primary {
    background: var(--btn-primary-bg-color);
    color: var(--btn-color);
    transition: box-shadow ease-in-out 200ms;

    // primary button - hover & focus
    &:not([disabled]):hover,
    &:not([disabled]):focus {
      outline: none;
      cursor: pointer;
      box-shadow: var(--btn-glowing);
    }
  }

  // secondary button
  &.btn--secondary {
    background: transparent;
    box-shadow: 0 0 4px 0 var(--primary-color), 0 0 4px 0 var(--secondary-color);
    color: white;
    transition: box-shadow ease-in-out 200ms;

    // secondary button - hover & focus
    &:not([disabled]):hover,
    &:not([disabled]):focus {
      outline: none;
      cursor: pointer;
      box-shadow: var(--btn-glowing);
    }
  }

  // text button
  &.btn--text {
    background: transparent;
    transition: box-shadow ease-in-out 200ms;
    background: var(--btn-primary-bg-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // text button - hover & focus
    &:not([disabled]):hover,
    &:not([disabled]):focus {
      outline: none;
      cursor: pointer;
      box-shadow: var(--btn-glowing);
    }
  }

  // rounded button
  &.btn--rounded {
    border-radius: 2rem;
  }

  // glowing button
  &.btn--glow {
    box-shadow: var(--btn-glowing);
  }
}
