* {
  font-family: Arial, serif;
}

.element-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

.element-row .label {
  color: white;
  font-weight: bold;
  width: 50px;
}
