* {
  font-family: Arial, serif;
  color: white;
}

.element-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.element-row > * {
  padding: 1rem;
}

.element-row .label {
  color: white;
  font-weight: bold;
  width: 50px;
}
